* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 191);
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: auto;
    width: auto;
    background-color: white;
    box-shadow: 0px 0px 15px black;
    display: flex;
    flex-flow: row, wrap;
}

#left-slash {
    height: 590px;
    width: 167px;
    background-color: rgb(80, 80, 80);
}

#box-foto {
    display: flex;
    justify-content: center;
}

#dados-experiencia {
    height: 580px;
    width: 350px;
    background-color: white;
    display: flex;
    text-align: left;
    flex-flow: column wrap;
}

.titulos {
    color: white;
    font-size: 16px;
    font-family: 'Cormorant Infant', serif;
}

.titulos-principais {
    font-size: 21px;
    color: white;
    font-family: 'Cormorant Infant', serif;
}

#dados-pessoais {
    margin-left: 7px;
    display: flex;
    text-align: left;
    flex-flow: column wrap;
}

#conteudo-dados-pessoais {
    margin-top: 30px;
    margin-left: 7px;
    display: flex;
    text-align: left;
    flex-flow: column wrap;
    line-height: 9px;
}

.informacoes {
    color: white;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    line-height: 12px;
}

#endereco {
    margin-top: 35px;
}

#numero-telefone {
    margin-top: 35px;
    line-height: 20px;
}

#email {
    margin-top: 35px;
    line-height: 20px;
}

#github {
    margin-top: 35px;
    line-height: 18px;
}

#sobre-mim {
    margin-top: 17px;
    display: flex;
    margin-left: 8px;
    display: flex;
    text-align: left;
    flex-flow: column wrap;
}

#nome-principal {
    font-size: 25px;
    font-family: 'Cormorant Infant', serif;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

#hr-left {
    background-color: white;
}

.informacoes-dados-experiencia {
    color: rgb(102, 102, 102);
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    line-height: 12px;
    margin-top: 20px;
}

.titulos-dados-experiencia {
    color: black;
    font-size: 16px;
    font-family: 'Cormorant Infant', serif;
}

.espacamento-titulos {
    margin-top: 20px;
    line-height: 20px;
}